RewriteEngine On
RewriteBase /todolist/public/

# Rediriger toutes les requêtes vers index.php sauf si c'est un fichier ou dossier existant
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]
